Aula 2 - Processamento de Linguagem Natural - Bibliotecas

Ex. 1 Calcular o volume de uma caixa retangular

In [ ]:
comprimento = float(input("Digite o comprimento da caixa: "))
largura = float(input("Digite a largura da caixa: "))
altura = float(input("Digite a altura da caixa: "))

In [ ]:
volume = comprimento * largura * altura
print("/n O volume da caixa é: {volume} unidades cúbicas")

Ex. 2 Contagem palavras em um texto

In [ ]:
texto = input("Digite um texto: ")

In [ ]:
palavras = texto.split()
numero_de_palavras = len(palavras)

In [ ]:
print("/n O número de palavras no texto é: {numero_de_palavras}")

Ex. 3 Substituir palavras

In [ ]:
texto = input("Digite um texto: ")
palavra_antiga = input("Digite a palavra a ser substituída: ")
palavra_nova = input("Digite a nova palavra: ")

In [ ]:
novo_texto = texto.replace(palavra_antiga, palavra_nova)

In [ ]:
print("/n O texto modificado é: {novo_texto}")

Ex. 4 Separação de frases

In [ ]:
texto = input("Digite um texto com várias frases: ")

In [ ]:
frases = texto.split(".")

In [ ]:
for i, frase in enumerate(frases):
    print(f"Frase {i + 1}: {frase.strip()}")

Ex. 5 Ler valores e mostrar do menor pro maior

In [ ]:
A = int(input("Digite o valor de A: "))
B = int(input("Digite o valor de B: "))
C = int(input("Digite o valor de C: "))

In [ ]:
alores = [A, B, C]
valores.sort()

In [ ]:
print("/n Valores em ordem crescente: {valores}")

Ex. 6 Ler valores e apresentar divisíveis

In [ ]:
A = int(input("Digite o valor de A: "))
B = int(input("Digite o valor de B: "))
C = int(input("Digite o valor de C: "))
D = int(input("Digite o valor de D: "))

In [ ]:
valores = [A, B, C, D]

In [ ]:
for valor in valores:
    if valor % 2 == 0 and valor % 3 == 0:

In [ ]:
print(f"O valor {valor} é divisível por 2 e 3.")

Ex. 7 Apresentar divisíveis por 4 e menores que 200

In [ ]:
for i in range(4,200,4):
  print(i)

4
8
12
16
20
24
28
32
36
40
44
48
52
56
60
64
68
72
76
80
84
88
92
96
100
104
108
112
116
120
124
128
132
136
140
144
148
152
156
160
164
168
172
176
180
184
188
192
196